@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Teko:wght@400;600&display=swap');

@media screen and (max-device-width: 480px) {
    .column {
        float: none;
    }
}

body {
    background-color: darkgrey;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.375em + 0.5vw);
}

/*typography */

p {
    font-size: calc(1.125em + 0.5vw);
    line-height: calc(1.125em + 0.5vw);
    margin-bottom: 15px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif;
    font-size: calc(1.250em + 0.5vw);
    text-align: left;
    margin-bottom: 20px;
}


h1 {
    background-color: darkgrey;
    text-align: center;
    font-size: calc(2.5em + 0.5vw);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}


h2 {
    font-size: calc(2.5em + 0.5vw);
    font-weight: bold;
    border-bottom: 3px solid grey;
    padding-bottom: 5px;
}

h3 {
    font-size: calc(1.875em + 0.5vw);
}

h4 {
    font-size: calc(1.5625em + 0.5vw);
}

h5 {
    font-size: calc(1.000em + 0.5vw);
    font-family: 'Montserrat',
        sans-serif;
}

/*achor styles */
a {
    color: grey;
    background-color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

a:visited {
    color: #A3A3E7;
}

a:active {
    color: white;
    background-color: gray;
}

h1 a:visited {
    color: white;
    background-color: darkgray
}

h1 a:hover {
    text-decoration: none;
    color: #F3F3F7;

}



/*main containers */

.wrapper {
    width: 1000px;
    margin: 0px auto 0px auto;


}



header {
    background-color: darkgray;
    height: 260px;
    padding-top: 0px;

}

.col {
    float: left;
    width: 28%;
}

nav {
    background-color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: calc(1em + 0.5vw);



}

nav ul {
    margin-top: 60px;
}

nav ul li {
    display: inline;


}

nav ul li a,
nav ul li a:visited {
    color: white;
    text-decoration: none;
    background-color: darkgray;
    padding: 10px 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.currentpage {
    background-color: white;
    text-decoration: none;
    color: darkgray;
}

.hero {
    background-image: url(../images/churchill-house-sketch.jpg);
    min-height: 700px;
    /* height of hero image */
    background-color: ivory;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;



}

main {
    color: black;





}

.text-container {
    width: 95%;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}

.leftimg {
    max-width: 100%;
    height: auto;
    float: left;
    margin: 20px 0px;
}


/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
}


/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    transition: left 0.3s ease,


}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */

    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;

}

.main-menu li:first-child a {
    border-top: 1px solid #383838;
}



.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;

}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, .85);
    cursor: default;
}

@supports (position: fixed) {

    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
    }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: 200px;
        display: block;
        margin-top: 5px;
    }

    .main-menu ul {
        display: flex;

        /* Undo off-canvas styling */
        padding: 0;
        height: auto;
        width: auto;
        background: none;
        margin-top: 100px;
    }

    .main-menu a {

        border: 0 !important;
        /* Remove borders from off-canvas styling */


        /*
 Demo purposes only
*/
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        header {
            padding: 20px;
            display: flex;
            align-items: baseline;

        }

        article {
            padding: 30px;
            width: 55em;
            font-size: 16px;
            line-height: 1.5em;
        }

        article h2 {
            font-weight: 500;
            font-size: 28px;
        }

        .logo {
            margin: 0 30px 0 10px;
            font-size: 1.5em;
        }
